<%- include("../../partials/header") %>

<title>Productos</title>
<style>
  .search-bar {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
  }

  .search-bar input {
    flex: 1;
  }

  .search-bar button, .search-bar a {
    margin-left: 10px;
  }

  .text-center {
    text-align: center;
    width: 100%;
  }

  .breadcrumb {
    width: 100%;
  }
</style>
</head>
<body>
<%- include("../../partials/navbar") %> 
<%- include("../../partials/flash") %> 
<%- include("../../partials/button") %> 
<main>
    <div class="home-body container mt-4">      
        <div style="margin-top: 1rem;" class="container">
          <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Inicio</a></li>
              <li class="breadcrumb-item active" aria-current="page">Productos</li>
            </ol>
          </nav>
        </div>
        <section class="product-holder my-3">
          <form class="search-bar" role="search" action="/buscar" method="get">
            <input class="form-control me-2" type="search" placeholder="buscar" name="buscar" aria-label="Search">
            <button class="btn btn-success" type="submit" value="Buscar">Buscar</button>
            <a href="/bookAll" class="btn btn-secondary">Restablecer</a>
          </form>

          <% if(data.length<1){ %> 
            <div class="text-center my-3">
              <h3>Lo sentimos! <br>No hay productos disponibles</h3>
            </div>
          <%} else {%>
            <div class="product-grid">
                <% for(let index=data.length-1;index>=0;index--){
                    let item=data[index]; %>
                    <div class="product-card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light" style="border-radius: 12px 12px 0px 0px;">
                          <% if(item.image != undefined && item.image.data != undefined){ %>
                          <img src="data:image/<%=item.image.contentType%>;base64,<%=item.image.data.toString('base64')%>" class="img-fluid product-image" />
                          <%} else { %>
                          <img src="<%=item.img%>" class="img-fluid product-image" alt="Item Image" />
                          <% } %>
                          <a href="#!">
                            <div class="mask" style="background-color: rgba(42, 139, 237, 0.138);"></div>
                          </a>
                        </div>
                        <div class="card-body">
                          <h5 class="card-title"><%= item.name %></h5>
                          <h6 class="card-subtitle mb-2 text-muted">Precio &#36; <%= item.price %></h6>
                          <p class="card-text"><%= item.desc.slice(0, 90) %>...</p>
                          <a href="/products/<%= item._id %>" class="btn btn-primary">Ver más</a>
                        </div>
                    </div>
                <% } %>
            </div>
          <% } %>
        </section>
    </div>
</main>
<%- include("../../partials/footer") %> 
