<%- include("../partials/header") %>

<title>Novedades</title>
</head>
<body>
<%- include("../partials/navbar") %> 
<%- include("../partials/flash") %> 
<%- include("../partials/button") %> 
<main>

    <div class="home-body container mt-4">      

        <div style="margin-top: 1rem;" class="container">
          <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Inicio</a></li>
              <li class="breadcrumb-item active" aria-current="page">Novedades</li>
            </ol>
          </nav>
        </div>
        <section class="product-holder my-3">

            <h1>CITAS</h1>
            
        </section>
    </div>
</main>
<%- include("../partials/footer") %>
