<%- include("../partials/header") %>

<title>Editar Producto</title>
</head>
<body>
<%- include("../partials/navbar") %> 
<div class="container-fluid my-2">
  <%- include("../partials/flash") %>
</div> 
<main class="body-container">
    <div class="home container">
        <h1 class="text-center my-2">Editar Producto</h1>
        <hr>
        <div class="forms res-width m-auto">
            <form action="/products/<%=data._id %>?_method=PATCH" method="POST" class="needs-validation" enctype="multipart/form-data" novalidate>
                <div class="form-outline mb-4">
                    <input type="text" id="name" class="form-control" name="name" value="<%=data.name%>" required/>
                    <label class="form-label" for="name">Nombre del Producto</label>
                    <div class="valid-feedback">Excelente</div>
                    <div class="invalid-feedback">Nombre no valido!</div>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="text" id="price" class="form-control" name="price" value="<%=data.price%>" required/>
                    <label class="form-label" for="price">Precio</label>
                    <div class="valid-feedback">Excelente</div>
                    <div class="invalid-feedback">Precio no valido!</div>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="text" id="img" class="form-control" name="img" value="<%=data.img%>" />
                    <label class="form-label" for="img">Link de la Imagen del producto</label>
                    <div class="valid-feedback">Excelente</div>
                    <div class="invalid-feedback">Enlace no válido</div>
                  </div>
                  <div class="form-outline mb-5">
                    <input type="file" class="form-control" name="image" id="customFile" />
                    <div class="valid-feedback">Excelente</div>
                    <div class="invalid-feedback">Imagen no válida!</div>
                  </div>
                  <div class="form-outline mb-4">
                    <textarea class="form-control" id="desc" rows="4" name="desc" required><%= data.desc %> </textarea>
                    <label class="form-label" for="desc">Producto Descripcion</label>
                    <div class="valid-feedback">Buen aspecto!</div>
                    <div class="invalid-feedback">Descripcion no valida!</div>
                  </div>
                  <div class="btn-container d-flex flex-column w-50 justify-center m-auto">
                    <button type="submit" class="btn btn-primary mb-4">Guardar</button>
                    <button type="reset" class="btn btn-primary mb-4">Restablecer</button>
                  </div>
                  
            </form>
        </div>
    </div>
  
</main>
<%- include("../partials/footer") %>