<%- include("../partials/header") %> 
<%- include("../partials/navbar")%>

<title><%=data.name%></title>
<style>
  .action-button .btn{
    margin-right: 5px;
  }

  @media (max-width: 768px) {
    .product-details .card {
      margin-top: 1rem;
    }

    .product-details .card .card-body {
      padding: 1rem;
    }
  }
</style>
</head>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<body>

<main>
<div class="container-fluid my-2">
  <%- include("../partials/flash") %>
</div> 
<div class="container">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="/bookAll">Productos</a></li>
      <li class="breadcrumb-item active" aria-current="page"><%=data.name%></li>
    </ol>
  </nav>
</div>
<div class="product-comment row">
  <section class="product-details col-md-7 col-12">
    <div class="card" >
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light" style="text-align: center">
            <% if(data.image && data.image.data!=undefined){%>
              <img src="data:image/<%=data.image.contentType%>;base64,<%=data.image.data.toString('base64')%>" width="300" height="300" class="img-fluid"/>
            <%}
            else {%>
            <img
                src="<%=data.img%>"
                class="img-fluid"
              />
    <%}%>
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="card" style="margin-top: 4rem; width: auto;">
            <div class="card-body">
              <h5 class="card-title">Producto: <br> <%=data.name%></h5> <br>
              <h6 class="card-subtitle mb-2 text-body-secondary">Marca: <%=data.autor%></h6>
              <h6 class="card-subtitle mb-2 text-body-secondary">Categoria: <%=data.categoria%></h6>
              <p class="card-text">Precio:  &#36;<%=data.price%> <br>
                                   Disponibilidad: <% if(data.activo == true){%> Disponible <% }else{%> No disponible <%}%></p>
            </div>
          </div>
        </div>
        </div>
                        
        <div class="container">
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Descripción y Ficha Técnica:</h6>
            <p class="card-text" style="text-align: justify;">
              <%=data.desc%>
            </p>
            <div class="action-button d-flex flex-column align-items-center ">
              <div class="allbuttons">
                <div class="addtocart mb-2">
                  <%
                    let addtoCart=/user/cart/${data._id}
                     %>
                  <form action="<%=addtoCart%>" method="post" class="d-flex justify-content-evenly">
              <button type="submit" class="btn btn-success">Agregar al carrito</button>
              <div class="form-outline">
                <input type="number" id="typeNumber" class="form-control " min=1 max=5 value="1" name="quantity"/>
                <label class="form-label" for="typeNumber">Unidades</label>
              </div>
              
              </form> 
                </div>
                <%if(loginUser && loginUser.role=='Admin'){%>
              <div class="adminButton d-flex justify-content-evenly">
                <a href="/admin/products" class="btn btn-primary">Admin DashBoard</a>
              </div>
            <%}%>
              </div>
            
            
            </div>
            
          </div>
        </div>
      </div> 
    </section> 
  <section class="review-details col-md-5 col-12 my-3">
    <h2>Opina sobre <%=data.name%></h2>
    <form action="/products/<%=data._id%>/reviews" class="rating-system" method="POST">
      <div class="rating-num mb-2">
        <label class="form-label" for="customRange2">Calificación</label>
        <div class="range">
          <fieldset class="starability-grow">
            
            <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
            <input type="radio" id="first-rate1" name="rating" value="1" />
            <label for="first-rate1" title="Terrible">1 Estrella</label>
            <input type="radio" id="first-rate2" name="rating" value="2" />
            <label for="first-rate2" title="Not good">2 Estrellas</label>
            <input type="radio" id="first-rate3" name="rating" value="3" />
            <label for="first-rate3" title="Average">3 Estrellas</label>
            <input type="radio" id="first-rate4" name="rating" value="4" />
            <label for="first-rate4" title="Very good">4 Estrellas</label>
            <input type="radio" id="first-rate5" name="rating" value="5" />
            <label for="first-rate5" title="Amazing">5 Estrellas</label>
          </fieldset>
        </div>
      </div>
      <div class="review-item form-outline mb-3">
        <textarea class="form-control" id="textAreaExample" name="comment" rows="4"></textarea>
        <label class="form-label" for="textAreaExample">Tu opinión ayuda a nuevos usuarios</label>
      </div>
      <div class="submit-button"><button type="submit" class="btn btn-primary mb-4">Guardar</button></div>
    </form>
  
    <div class="all-comments">
      <div class="all-reviews">
        <% if(data.reviews.length>0){
          let avgSum=0;
          data.reviews.forEach((item)=>{
            avgSum+=item.rating
          })
          avgSum=Math.round(avgSum/data.reviews.length);
          if(avgSum>0){%>
            <div class="avgRating my-3">
              <h4>Calificación Promedio</h4>
              <p class="starability-result mt-2" data-rating="<%=avgSum%>"></p>
              <h5><i>Calificación : </i><%=avgSum%> de 5</h5>
            </div>
          <%}
          for(index of data.reviews.reverse()){ %> 
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">Calificación : <p class="starability-result mt-2" data-rating="<%=index.rating%>"></p></h5>
              <i class="card-subtitle mb-2 text-muted">Dada por <strong>"<%=index.user%>" </strong>(usuario verificado)</i>
              <p class="card-text">
                <%= index.comment %> 
              </p>
              <% if(loginUser){
                if(loginUser.username==index.user){%>
              <div class="cardbtn pb-2 d-flex">
                
                <a type="button" href="/products/<%=data._id%>/reviews/<%=index._id%>" class="btn btn-primary btn-sm me-2">Editar</a>
                <form action="/products/<%=data._id%>/reviews/<%=index._id%>?_method=DELETE" method="post">
                <button type="submit" class="btn btn-danger btn-sm">Borrar</button>
                  </form>
              </div>
            <%}
              }
              if(index.date){%>
              <div class="card-footer text-muted"><i><%=String(index.date).slice(0,10)%></i></div>
              <%}%>
            </div>
          </div>
        <%}
        }
          
        else{%>
          <h3 class="no-data">¡Aún no hay reseñas!</h3>
          
          <% }%>
          
      </div>
    </div>
  </section>
</div>  

</div>    
</main>
<%- include("../partials/footer") %>