<%- include("../partials/header") %>

<title>Nuevo Producto</title>
</head>
<body>
<%- include("../partials/navbar") %> 
<div class="container-fluid my-2">
  <%- include("../partials/flash") %>
</div> 
<main class="body-container">
    <div class="home container">
        <h1 class="text-center my-2">Agregar Producto</h1>
        <hr>
        <div class="forms m-auto res-width">
            <form action="/products/new" method="POST" class="needs-validation" novalidate enctype="multipart/form-data">
                <div class="form-outline mb-5">
                    <input type="text" id="name" class="form-control" name="name" required/>
                    <label class="form-label" for="name">Nombre de Producto</label>
                    <div class="valid-feedback">¡Los datos son correctos!</div>
                    <div class="invalid-feedback">Nombre Inválido</div>
                  </div>

                  <div class="form-outline mb-3">
                    <input type="text" id="autor" class="form-control" name="autor" required/>
                    <label class="form-label" for="autor">Marca</label>
                    <div class="valid-feedback">¡Los datos son correctos!</div>
                    <div class="invalid-feedback">Dato Inválido</div>
                  </div>
<br>
                  <!-- <div class="form-outline mb-3">
                    <input type="text" id="editorial" class="form-control" name="editorial" required/>
                    <label class="form-label" for="editorial">Editorial</label>
                    <div class="valid-feedback">¡Los datos son correctos!</div>
                    <div class="invalid-feedback">Tienes que escribir la editorial correcto</div>
                  </div> -->
                  <!-- <br> -->
                  <!-- <div class="form-outline mb-3">
                    <input type="text" id="edicion" class="form-control" name="edicion" required/>
                    <label class="form-label" for="edicion">Edicion</label>
                    <div class="valid-feedback">¡Los datos son correctos!</div>
                    <div class="invalid-feedback">Tienes que escribir la edicion correcto</div>
                  </div> -->
                  <!-- <br> -->
                  <!-- <div class="form-outline mb-3">
                    <label class="form-label" for="publicacion">Año de publicacion</label>
                    <input type="date" id="publicacion" class="form-control" name="publicacion" required/>
                    <div class="valid-feedback">¡Los datos son correctos!</div>
                    <div class="invalid-feedback">Tienes que escribir la fecha correcto</div>
                  </div>
                  <br>
                  <div class="form-outline mb-3">
                    <input type="number" id="paginas" class="form-control" name="paginas" required/>
                    <label class="form-label" for="paginas">Numero de paginas</label>
                    <div class="valid-feedback">¡Los datos son correctos!</div>
                    <div class="invalid-feedback">Tienes que escribir las paginas correcto</div>
                  </div> -->
                  <!-- <br> -->
                  <div class="form-outline mb-3">
                    <input type="number" id="price" class="form-control" min="0" name="price" required/>
                    <label class="form-label" for="price">Precio</label>
                    <div class="valid-feedback">¡Los datos son correctos!</div>
                    <div class="invalid-feedback">Formato Incorrecto</div>
                  </div>
                  <br>
                  <!-- <div class="form-outline mb-3">
                    <input type="number" id="isbn" class="form-control" min="0" name="isbn" required/>
                    <label class="form-label" for="isbn">ISBN</label>
                    <div class="valid-feedback">¡Los datos son correctos!</div>
                    <div class="invalid-feedback">Tienes que escribir el ISBN correcto</div>
                  </div>
                  <br> -->
                  <!-- <div class="form-outline mb-3">
                    <input type="text" id="idioma" class="form-control" min="0" name="idioma" required/>
                    <label class="form-label" for="price">Idioma</label>
                    <div class="valid-feedback">¡Los datos son correctos!</div>
                    <div class="invalid-feedback">Tienes que escribir el idioma correcto</div>
                  </div>
                  <br> -->
                  <div class="form-outline mb-3">
                    <label class="form-label" for="price">Categorias</label>
                    <select class="form-select" aria-label="Default select example" name="categoria" required id=" validationCustom04 categoria">
                      <option selected disabled value="">Selecciona una categoria...</option>
                      <% for(item of cat.reverse()){ %> 
                        <option value="<%=item.categorias%>"><%=item.categorias%></option>
                      <% } %>
                    </select>
                    <div class="valid-feedback">¡Los datos son correctos!</div>
                    <div class="invalid-feedback">Tienes que seleccionar la categoria correcto</div>
                  </div>

                  <h6 class="my-3 text-center">Puede proporcionar un archivo de imagen o un enlace de imagen</h6>
                  <div class="form-outline mb-4">
                    <input type="file" class="form-control" name="image" id="customFile" />
                    <div class="valid-feedback">¡Los datos son correctos!</div>
                    <div class="invalid-feedback">¡No es un archivo de imagen válido!</div>
                  </div>
                  
                  <div class="form-outline mb-4">
                    <input type="text" id="img" class="form-control" name="img"/>
                    <label class="form-label" for="img">Enlace de la imagen</label>
                    <div class="valid-feedback">¡Los datos son correctos!</div>
                    <div class="invalid-feedback">¡No es un archivo de imagen válido!</div>
                  </div>
                  <div class="form-outline mb-5">
                    <textarea class="form-control" id="desc" rows="4" name="desc" required></textarea>
                    <label class="form-label" for="desc">Descripción</label>
                    <div class="valid-feedback">¡Los datos son correctos!</div>
                    <div class="invalid-feedback">Datos no Válidos</div>
                  </div>
                
                  <div class="btn-container d-flex flex-column w-50 justify-center m-auto">
                    <button type="submit" class="btn btn-primary mb-4">Agregar</button>
                    <button type="reset" class="btn btn-primary mb-4">Limpiar datos</button>
                  </div>
            </form>
        </div>
    </div>
</main>

<%- include("../partials/footer") %>